@page
@model BusinessTrips.WebApp.Pages.Trips.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Trip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Trip.Date" class="control-label"></label>
                <input asp-for="Trip.Date" class="form-control" />
                <span asp-validation-for="Trip.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.Distance" class="control-label"></label>
                <input asp-for="Trip.Distance" class="form-control" />
                <span asp-validation-for="Trip.Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.StartAddress" class="control-label"></label>
                @*<input asp-for="Trip.Distance" class="form-control" />*@
                <select name="startPersonId" asp-items="Model.NameOptions" class="form-control"></select>
                @*<span asp-validation-for="Trip.StartAddress" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Trip.DestinationAddress" class="control-label"></label>
                @*<input asp-for="Trip.Distance" class="form-control" />*@
                <select name="destinationPersonId" asp-items="Model.NameOptions" class="form-control"></select>
                @*<span asp-validation-for="Trip.DestinationAddress" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
